<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bem vindo! É uma honra te-lo em nosso site! Sr(a), <%= @cliente.nome %></h1>
    <p>
      Você foi registrado com sucesso!!!,
    </p>
    <p>
      Por favor visite o meu site.: www.dedodemoca.ane.com.
    </p>
    <p>Muito obrigado pelo registro, tenha um ótimo dia. Boas Compras</p>
  </body>
</html>